Body {	background-color: orange;
			text-align: center;
			font-family: Dina;
			font-size: 20px;
			margin-top: 12px;
			}

	h1 {font-family:Dina;
	color: purple;}
	h2 {font-family:Dina;
	color: purple;}
	h3 {font-family:Dina;
	color: purple;}
	h4 {font-family:Dina;
	color: purple;}
	
	